body {
font-family: 'Open Sans', sans-serif;
font-size: 16px;
font-weight: 400;
color: #000;
line-height: 24px;
margin: 0px;
}
p {
	margin: 0 0 10px 0;
}
h4 {
	margin: 30px 0 10px 0;
}

a {
	text-decoration: none;
}

a:link {
	color: #2db986;
}
a:visited {
	color: #2db986;
}
a:hover {
	color: #666;
}

.container {
	margin: 0 auto;
	width: 1000px;
	padding-top: 30px;
}

.shlyapa {
	padding-left: 20px;
	height: 300px;
	background: url(img/me.jpg);
	background-size: cover;
}

.shlyapa .container a {
	color: #000;
	text-decoration: underline;
}

.inner-shlyapa, .shlyapa {
	border-bottom: 3px solid #34dd9f;
}

.inner-shlyapa {
	margin-left: -42px;
}

.inner-shlyapa .container {
	padding: 10px 0;
	font-weight: bold;
}

.inner-shlyapa .container ul.social {
	float: right;
	font-weight: normal;
	margin-top: 0;
}

.goal-description {
	font-style: italic;
	background: #f9f9f9;
	padding: 15px 20px;
	margin-left: -15px;
}
.work-piece {
	margin: 20px auto;
}
.grey {
	color: #999;
}
a.work-list {
	display: block;
	line-height: 40px;
}

.work-thumb, .work-thumb-comment {
	display: inline-block;
	width: 211px;
	text-align: center;
	vertical-align: top;
	margin: 10px 10px 10px 0;
	padding: 20px 10px;
	border-radius: 5px;
	min-height: 266px;
	border: 2px solid #fff;
}
/*
.work-thumb:hover {
	box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}
*/

.work-thumb:hover {
	border: 2px solid #34dd9f;
}
.work-comment {
	font-size: 13px;
	margin-top: 10px;
	margin-bottom: -5px;
}

.work-thumb-comment {
	vertical-align: top;
	color: #999;
	text-align: left;
}

.work-thumb-comment p {
	font-size: 14px;
	padding-left: 30px;	
	padding-top: 90px;
}


object {
	width: 100%;
	margin-left: -10px;
}
hr {
	border: 1px solid #000;
}
ul.social {
	margin-left: -40px;
	list-style-type: none;
}
ul.social li {
	display: inline-block;
	margin-right: 10px;
}